.app {

}


.app-main {
  display: flex;
  flex-direction: row;
}

.app-mobile {
  display: flex;
  flex-direction: column-reverse;
}


.app-left {
  display: flex;
  float: center;
  flex: 40% 0 0%;  
  justify-content: left;
  padding-left: 5%;
}

.app-right {
  padding-bottom: 2rem;
  display: flex;
  justify-content: left;
  flex: 50% 0 0%;
  background: #F8FBFD;
  padding-left: 5%;
}
