.preview-desktop {
  width: 550px;
  margin-top: 2rem;
  position: relative;
}

.preview-mobile {
  width: 480px;
  margin-top: 2rem;
  position: relative;
}

.preview-label {
  margin-bottom: 0.5rem;
}

.preview-area {
  box-shadow: 0px 30px 80px rgba(134, 158, 174, 0.2);
  width: 95%;
}

.preview-content-desktop {
  display: flex;
  flex-direction: row;
}

.preview-content-mobile {
}

.preview-sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 1.5rem;
}

.preview-rating {
  font-size: 45px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-emoji {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: rgba(222, 237, 247, 0.5);  
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-party {
  font-style: italic;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
} 

.preview-main-mobile {
  background: #fff;
  width: 100%;
  padding-bottom: 1rem;
}

.preview-main-desktop {
  background: #fff;
  width: 26rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.preview-feedback-mobile {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  display: inline-block;
  word-wrap: break-word;
  padding: 1rem;
  width: 92.5%;
  min-height: 4rem;
}

.preview-feedback-desktop {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  word-wrap: break-word;
  padding: 1rem;
  min-height: 7rem;
}

.preview-sample-feedback {
  color: rgba(0, 0, 0, 0.25);
}

.preview-bottomBar {
  height: 60px;
  background: rgba(222, 237, 247, 0.2);
  display: flex;
  align-items: center;
}

.preview-emoji-tags-holder {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-emoji-tag {
  font-size: 22px;
  margin-left: 5px;
  padding: 5px 11px 5px 13px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 25px;
}

.preview-emoji-tag:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}