.preview {
  width: 480px;
  margin-top: 2rem;
  position: relative;
}

.preview-label {
  margin-bottom: 0.5rem;
}

.preview-area {
  width: 95%;
}

.preview-content {
  padding: 1rem 1rem 0rem 1rem;
  min-height: 10rem;
  background: #fff;
  box-shadow: 0px 30px 80px rgba(134, 158, 174, 0.15);
  position: relative;
}

.preview-rating {
  font-size: 45px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-emoji {
  border-radius: 50%;
  /* box-shadow: inset 0px 0px 0px 1.25px rgba(222, 237, 247, 0.5); */
  width: 70px;
  height: 70px;
  background: rgba(222, 237, 247, 0.5);  
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-feedback {
  font-size: 24px;
  word-wrap: break-word;
  padding-bottom: 15px;
}

.preview-sample-feedback {
  color: rgba(0, 0, 0, 0.25);
}

.preview-bottomBar {
  height: 60px;
  background: rgba(222, 237, 247, 0.2);
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);

}

.preview-party {
  font-style: italic;
  font-size: 14px;
  padding-left: 1rem;
} 

.preview-emoji-tags-holder {
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.preview-emoji-tag {
  font-size: 22px;
  margin-left: 5px;
  padding: 5px 8px 5px 8px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 8px;
}

.preview-emoji-tag:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 1);
}